* {
  box-sizing: border-box;
}

body {
  background: url(../vector.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 4em;
  padding-left: 50px;
  background: url(../whiteWall.jpg);
  -webkit-background-clip: text;
  color: transparent;
  background-size: contain;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}

p {
  font-size: 2.5em;
  font-weight: bold;
  background: url(../whiteWall.jpg);
  -webkit-background-clip: text;
  color: transparent;
  background-size: cover;
}

.recent {
  width: 40%;
}

.recentHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

#resetBtn {
  height: 30px;
  width: 80px;
  background: none;
  box-shadow: 2px 2px black;
  cursor: pointer;
  background: rgb(66, 66, 94);
  color: aliceblue;
  border-radius: 10px;
}

.playerScores {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px black;
  background: rgb(66, 66, 94);
  color: aliceblue;
}

.playerScore {
  padding: 2% 3%;
  font-weight: 700;
}

.add {
  width: 40%;
}

input {
  display: block;
  margin-bottom: 30px;
  width: 300px;
  height: 40px;
  border: 2px solid black;
  box-shadow: 2px 2px black;
  outline: none;
  padding-left: 10px;
  border-radius: 10px;
}

#submit {
  height: 30px;
  width: 80px;
  background: rgb(66, 66, 94);
  color: aliceblue;
  box-shadow: 2px 2px black;
  cursor: pointer;
  margin-left: 220px;
  border-radius: 10px;
}

#submit:hover,
#resetBtn:hover {
  background: #ff3e61;
}